<!DOCTYPE html>
<!--[if lt IE 10]> <html  lang="en" class="iex"> <![endif]-->
<!--[if (gt IE 10)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ONG | Zmeii Silvaniei | 404</title>
    <meta name="description" content="Multipurpose HTML template.">
    <link rel="stylesheet" href="../HTWF/scripts/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../HTWF/style.css">
    <link rel="stylesheet" href="../HTWF/css/content-box.css">
    <link rel="stylesheet" href="../HTWF/css/image-box.css">
    <link rel="stylesheet" href="../HTWF/css/animations.css">
    <link rel="stylesheet" href="../HTWF/css/components.css">
    <link rel="stylesheet" href="../HTWF/scripts/flexslider/flexslider.css">
    <link rel="stylesheet" href="../HTWF/scripts/magnific-popup.css">
    <link rel="stylesheet" href="../HTWF/scripts/php/contact-form.css">
    <link rel="stylesheet" href="../HTWF/scripts/social.stream.css">
    <link rel="icon" href="../images/favicon.png">
    <link rel="stylesheet" href="../skin.css">
</head>

<body class="background-lines-1" data-spy="scroll" data-target="#menu" data-offset="250">
    <div id="preloader"></div>
    <div id="home" class="section-empty bg-transparent">
        <div class="container content">
            <!--            <div class="section-empty">-->
            <div class="container content box-middle-container full-screen-size" data-sub-height="80">
                <div class="row">
                    <div class="col-md-12 text-center box-middle">
                        <div data-anima="pulse-vertical">
                            <h1 class="text-xxl">404</h1>
                            <hr class="space m" />
                            <h1 class="text-xl">Oupss!</h1>
                            <p>
                                Această pagină nu a putut fi găsită.
                            </p>
                            <hr class="space m" />
                            <a class="btn-text" href="index.html">Înapoi acasă</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <i class="scroll-top scroll-top-mobile show fa fa-sort-asc"></i>
    <footer class="footer-center footer-minimal">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="tag-row icon-row icon-row-square">
                            <span><a href="./despre_noi.html">Despre noi</a></span>
                            <!--                            <span><a>Servicii</a></span>-->
                            <span><a href="./suport.html">Suport</a></span>
                            <span><a href="#contacts">Contact</a></span>
                        </div>
                    </div>
                </div>
                <div class="row copy-row">
                    <div class="col-md-12 copy-text">
                        © 2019 Zmeii Silvaniei - Plantam fapte pe Bune
                    </div>
                </div>
            </div>
        </div>
        <script src="../HTWF/scripts/jquery.min.js"></script>
        <script src="../HTWF/scripts/script.js"></script>
        <link rel="stylesheet" href="../HTWF/scripts/iconsmind/line-icons.min.css">
        <script src="../HTWF/scripts/bootstrap/js/bootstrap.min.js"></script>
        <script src="../HTWF/scripts/imagesloaded.min.js"></script>
        <script src="../HTWF/scripts/parallax.min.js"></script>
        <script src="../HTWF/scripts/flexslider/jquery.flexslider-min.js"></script>
        <script src="../HTWF/scripts/isotope.min.js"></script>
        <script src="../HTWF/scripts/php/contact-form.js"></script>
        <script src="../HTWF/scripts/jquery.progress-counter.js"></script>
        <script src="../HTWF/scripts/jquery.tab-accordion.js"></script>
        <script src="../HTWF/scripts/bootstrap/js/bootstrap.popover.min.js"></script>
        <script src="../HTWF/scripts/jquery.magnific-popup.min.js"></script>
        <script src="../HTWF/scripts/social.stream.min.js"></script>
        <script src="../HTWF/scripts/google.maps.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script src="../HTWF/scripts/jquery.slimscroll.min.js"></script>
        <script src="../HTWF/scripts/smooth.scroll.min.js"></script>
        <script src='../HTWF/scripts/jquery.progress-counter.js'></script>
    </footer>
</body>

</html>
