<!DOCTYPE html>
<!--[if lt IE 10]> <html  lang="en" class="iex"> <![endif]-->
<!--[if (gt IE 10)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ONG | Zmeii Silvaniei | Echipa</title>
    <meta name="description" content="Multipurpose HTML template.">
    <link rel="stylesheet" href="../HTWF/scripts/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../HTWF/style.css">
    <link rel="stylesheet" href="../HTWF/css/content-box.css">
    <link rel="stylesheet" href="../HTWF/css/image-box.css">
    <link rel="stylesheet" href="../HTWF/css/animations.css">
    <link rel="stylesheet" href="../HTWF/css/components.css">
    <link rel="stylesheet" href="../HTWF/scripts/flexslider/flexslider.css">
    <link rel="stylesheet" href="../HTWF/scripts/magnific-popup.css">
    <link rel="stylesheet" href="../HTWF/scripts/php/contact-form.css">
    <link rel="stylesheet" href="../HTWF/scripts/social.stream.css">
    <link rel="icon" href="../images/favicon.png">
    <link rel="stylesheet" href="../skin.css">
</head>

<body class="background-lines-2" data-spy="scroll" data-target="#menu" data-offset="250">
    <div id="preloader"></div>
    <div id="home" class="section-empty bg-transparent">
        <div class="container content">
            <div class="header-base bg-cover black" style="background-image: url(../images/)">
                <!--    <img alt="dragon_argintiu" src="../images/logos/dragon_argintiu_despre_noi.jpg" class="dragon_despre_noi bg-cover" />-->
                <!--<div class="header-base bg-cover black" style="background-image: url('http://www.framework-y.com/images/thumb-wide.png')">-->
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="title-base text-left">
                                <h1>Echipa noastră</h1>
                                <!--                                <p>Imaginea viitorul nostru.</p>-->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <ol class="breadcrumb b white">

                                <li><a href="./index-rectangle%20-%20ZM_TEST_Home.html">Acasă</a></li>
                                <li class="active">Echipa</li>
                            </ol>
                        </div>
                    </div>


                    <div class="section-empty section-item text-center">
                        <div class="container content">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="advs-box niche-box-team" data-anima="scale-up" data-trigger="hover">
                                        <a class="img-box">
                                            <img class="anima" src="http://via.placeholder.com/450x450" alt="" />
                                        </a>
                                        <div class="content-box">
                                            <h2>Orosz Endre</h2>
                                            <h4>Cofondator</h4>
                                            <hr class="e" />
                                            <div class="btn-group social-group">
                                                <a target="_blank" href="https://www.facebook.com/oroszvlendre"><i class="fa fa-facebook"></i></a>
                                                <!--                                    <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>-->
                                                <a target="_blank" href="#"><i class="fa fa-instagram"></i></a>
                                            </div>
                                            <p>Ador diminețile la o cafeaua neagră și o carte bună.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="advs-box niche-box-team" data-anima="scale-up" data-trigger="hover">
                                        <a class="img-box">
                                            <img class="anima" src="http://via.placeholder.com/450x450" alt="" />
                                        </a>
                                        <div class="content-box">
                                            <h2>Voicilă Teodora</h2>
                                            <h4>Cofondator</h4>
                                            <hr class="e" />
                                            <div class="btn-group social-group">
                                                <a target="_blank" href="https://www.facebook.com/tedyx06"><i class="fa fa-facebook"></i></a>
                                                <!--                                    <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>-->
                                                <a target="_blank" href="#"><i class="fa fa-instagram"></i></a>
                                            </div>
                                            <p>Iubesc plimbările în natură și dulciurile.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="advs-box niche-box-team" data-anima="scale-up" data-trigger="hover">
                                        <a class="img-box">
                                            <img class="anima" src="http://via.placeholder.com/450x450" alt="" />
                                        </a>
                                        <div class="content-box">
                                            <h2>Suru Marius</h2>
                                            <h4>Cofondator</h4>
                                            <hr class="e" />
                                            <div class="btn-group social-group">
                                                <a target="_blank" href="https://www.facebook.com/marius.suru9"><i class="fa fa-facebook"></i></a>
                                                <!--                                    <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>-->
                                                <a target="_blank" href="#"><i class="fa fa-instagram"></i></a>
                                            </div>
                                            <p>Spirit liber, prețuiesc natura.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="advs-box niche-box-team" data-anima="scale-up" data-trigger="hover">
                                        <a class="img-box">
                                            <img class="anima" src="http://via.placeholder.com/450x450" alt="" />
                                        </a>
                                        <div class="content-box">
                                            <h2>Radovici Andrei</h2>
                                            <h4>Cofondator</h4>
                                            <hr class="e" />
                                            <div class="btn-group social-group">
                                                <a target="_blank" href="https://www.facebook.com/radovici.andrei"><i class="fa fa-facebook"></i></a>
                                                <!--                                    <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>-->
                                                <a target="_blank" href="#"><i class="fa fa-instagram"></i></a>
                                            </div>
                                            <p>Pasionat de sport. Îndrăgostit de natură.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="space" />
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="advs-box niche-box-team" data-anima="scale-up" data-trigger="hover">
                                        <a class="img-box">
                                            <img class="anima" src="http://via.placeholder.com/450x450" alt="" />
                                        </a>
                                        <div class="content-box">
                                            <h2>Voluntar</h2>
                                            <h4>Voluntar</h4>
                                            <hr class="e" />
                                            <div class="btn-group social-group">
                                                <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                                                <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                                                <a target="_blank" href="#"><i class="fa fa-instagram"></i></a>
                                            </div>
                                            <p>Lorem ipsum is text of the printing and industry manulo pertus.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="advs-box niche-box-team" data-anima="scale-up" data-trigger="hover">
                                        <a class="img-box">
                                            <img class="anima" src="http://via.placeholder.com/450x450" alt="" />
                                        </a>
                                        <div class="content-box">
                                            <h2>Voluntar</h2>
                                            <h4>Voluntar</h4>
                                            <hr class="e" />
                                            <div class="btn-group social-group">
                                                <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                                                <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                                                <a target="_blank" href="#"><i class="fa fa-instagram"></i></a>
                                            </div>
                                            <p>Lorem ipsum is text of the printing and industry manulo pertus.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="advs-box niche-box-team" data-anima="scale-up" data-trigger="hover">
                                        <a class="img-box">
                                            <img class="anima" src="http://via.placeholder.com/450x450" alt="" />
                                        </a>
                                        <div class="content-box">
                                            <h2>Voluntar</h2>
                                            <h4>Voluntar</h4>
                                            <hr class="e" />
                                            <div class="btn-group social-group">
                                                <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                                                <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                                                <a target="_blank" href="#"><i class="fa fa-instagram"></i></a>
                                            </div>
                                            <p>Lorem ipsum is text of the printing and industry manulo pertus.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="advs-box niche-box-team" data-anima="scale-up" data-trigger="hover">
                                        <a class="img-box">
                                            <img class="anima" src="http://via.placeholder.com/450x450" alt="" />
                                        </a>
                                        <div class="content-box">
                                            <h2>Voluntar</h2>
                                            <h4>Voluntar</h4>
                                            <hr class="e" />
                                            <div class="btn-group social-group">
                                                <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                                                <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                                                <a target="_blank" href="#"><i class="fa fa-instagram"></i></a>
                                            </div>
                                            <p>Lorem ipsum is text of the printing and industry manulo pertus.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <i class="scroll-top scroll-top-mobile show fa fa-sort-asc"></i>
    <footer class="footer-center footer-minimal">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="tag-row icon-row icon-row-square">
                            <span><a>Despre noi</a></span>
                            <span><a>Servicii</a></span>
                            <span><a>Suport</a></span>
                            <span><a>Contact</a></span>
                        </div>
                    </div>
                </div>
                <div class="row copy-row">
                    <div class="col-md-12 copy-text">
                        © 2019 Zmeii Silvaniei - Plantam fapte pe Bune
                    </div>
                </div>
            </div>
        </div>
        <script src="../HTWF/scripts/jquery.min.js"></script>
        <script src="../HTWF/scripts/script.js"></script>
        <link rel="stylesheet" href="../HTWF/scripts/iconsmind/line-icons.min.css">
        <script src="../HTWF/scripts/bootstrap/js/bootstrap.min.js"></script>
        <script src="../HTWF/scripts/imagesloaded.min.js"></script>
        <script src="../HTWF/scripts/parallax.min.js"></script>
        <script src="../HTWF/scripts/flexslider/jquery.flexslider-min.js"></script>
        <script src="../HTWF/scripts/isotope.min.js"></script>
        <script src="../HTWF/scripts/php/contact-form.js"></script>
        <script src="../HTWF/scripts/jquery.progress-counter.js"></script>
        <script src="../HTWF/scripts/jquery.tab-accordion.js"></script>
        <script src="../HTWF/scripts/bootstrap/js/bootstrap.popover.min.js"></script>
        <script src="../HTWF/scripts/jquery.magnific-popup.min.js"></script>
        <script src="../HTWF/scripts/social.stream.min.js"></script>
        <script src="../HTWF/scripts/google.maps.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script src="../HTWF/scripts/jquery.slimscroll.min.js"></script>
        <script src="../HTWF/scripts/smooth.scroll.min.js"></script>
    </footer>
</body>

</html>
