<!DOCTYPE html>
<!--[if lt IE 10]> <html  lang="en" class="iex"> <![endif]-->
<!--[if (gt IE 10)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ONG | Zmeii Silvaniei | Acasa</title>
    <meta name="description" content="Multipurpose HTML template.">
    <link rel="stylesheet" href="../HTWF/scripts/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../HTWF/style.css">
    <link rel="stylesheet" href="../HTWF/css/content-box.css">
    <link rel="stylesheet" href="../HTWF/css/image-box.css">
    <link rel="stylesheet" href="../HTWF/css/animations.css">
    <link rel="stylesheet" href="../HTWF/css/components.css">
    <link rel="stylesheet" href="../HTWF/scripts/flexslider/flexslider.css">
    <link rel="stylesheet" href="../HTWF/scripts/magnific-popup.css">
    <link rel="stylesheet" href="../HTWF/scripts/php/contact-form.css">
    <link rel="stylesheet" href="../HTWF/scripts/social.stream.css">
    <link rel="icon" href="../images/favicon.png">
    <link rel="stylesheet" href="../skin.css">
</head>
<body class="background-lines-2" data-spy="scroll" data-target="#menu" data-offset="250">
    <div id="preloader"></div>
        <div id="home" class="section-empty bg-transparent">
            <div class="container content">
                <div class="row">
                    <div class=".col-12 .col-md-8 col-sm-12 pull-right" data-anima="fade-bottom">
                        <div class="navbar navbar-inner ">
                            <div class="navbar-toggle"><i class="fa fa-bars"></i><span>Menu</span><i class="fa fa-angle-down"></i></div>
                            <div class="collapse navbar-collapse">
                                <ul class="nav navbar-nav inner">
                                    <img alt="dragon_argintiu" src="../images/logos/dragon_argintiu_2.jpg" class="dragon" />
                                    <li class="current-active active"><a href="#home">Acasă</a></li>
                                    <li><a href="./index-rectangle%20-%20ZM_TEST_Proiecte.html">Proiecte</a></li>
                                    <li><a href="#services">Servicii</a></li>
                                    <li><a href="./index-rectangle%20-%20ZM_TEST_Despre_noi.html">Despre noi</a></li>
                                    <li><a href="#contacts">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <hr class="space" />
                    <div class="col-md-9" data-anima="fade-bottom" data-timeline="asc">
                        <h1 class="text-xl text-black anima">Zmeii Silvaniei: plantăm fapte bune</h1>
                        <hr class="space m" />
                        <p class="anima">Scopul nostru este promovarea protecției mediului și constientizarea publicului privind dezvoltarea sustenabilă.
                        </p>

                    </div>
                </div>

                <hr class="space" />
                <div class="row" data-anima="fade-bottom">
                    <div class="col-md-6 col-sm-12">                        
                        <div class="title-base text-left">                            
                            <h2>Proiect pilot: Dealul Soarelui.</h2>
                            <!-- EXAMPLE 6 -->
<div class="row vertical-row">
    <div class="col-md-12 col-sm-12">
        <div class="progress">
            <div class="progress-bar progress-bar-striped" data-progress="75"></div>
        </div>
    </div>
    <div class="col-md-6">
        Status <span class="counter" data-to="75"></span> %
    </div>
</div> 


                            <br>
                            
                            <p>
                                Dealul Soarelui este prima locatie pe care ne propunem sa o reimpadurim.
                            </p>
                        </div>
                        <a href="#" class="btn btn-sm">Detalii</a>
                        <a href="#" class="btn btn-sm">Donează</a>
                    </div>
                    
                    
                    
                           
                </div>
            </div>
        </div>
            <div class="section-empty">
                <div class="container content">
                


                
        <div class="container content">
            <div class="row">
                <div class="col-md-8 col-center" data-anima="fade-bottom">
                    <div class="title-base">
                        <hr />
                        <h2>Doresc să particip </h2>
                        <p>Lasă-ne adresa ta de email și noi te vom contacta în cel mai scurt timp cu detalii despre urmatoarea campanie de (re)împădurire.</p>
                    </div>
                    <form action="http://www.framework-y.com/scripts/php/contact-form.php" class="form-box form-ajax form-inline width-80 text-center-sm" method="post" data-email="aaa@pixor.it">
                        <input id="email" name="email" placeholder="Adresa ta de email" type="email" class="form-control form-value" required="">
                        <hr class="space m">
                        <button class="btn btn-sm" type="submit">Voluntar</button>
                        <div class="success-box">
                            <div class="alert alert-success">Felicitari. Te-ai inregistrat cu success.</div>
                        </div>
                        <div class="error-box">
                            <div class="alert alert-warning">Eroare, te rugam sa incerci din nou. Mesajul nu a fost trimis cu succes.</div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
        <div id="contacts" class="section-empty background-lines-2">
            <div class="container content">
                <div class="row proporzional-row" data-anima="fade-bottom">
                    <div class="col-md-6 boxed-inverse">
                        <form action="http://www.framework-y.com/scripts/php/contact-form.php" class="form-box form-ajax" method="post">
                            <div class="row">
                                <div class="col-md-4">
                                    <p>Nume</p>
                                    <input id="name" name="name" placeholder="" type="text" class="form-control form-value" required="">
                                </div>
                                <div class="col-md-4">
                                    <p>Email</p>
                                    <input id="email" name="email" placeholder="" type="email" class="form-control form-value" required="">
                                </div>
                                <div class="col-md-4">
                                    <p>Telefon</p>
                                    <input id="phone" name="phone" placeholder="" type="text" class="form-control form-value">
                                </div>
                                <div class="col-md-12">
                                    <p>Subiect</p>
                                    <input id="subject" name="subject" placeholder="" type="text" class="form-control form-value">
                                </div>
                            </div>
                            <hr class="space xs">
                            <p>Mesajul tău</p>
                            <textarea id="messagge" name="messagge" placeholder="" class="form-control form-value" required=""></textarea>
                            <hr class="space s">
                            <a class="btn-xs btn">Send messagge</a>
                            <div class="success-box">
                                <div class="alert alert-success">Congratulations. Your message has been sent successfully</div>
                            </div>
                            <div class="error-box">
                                <div class="alert alert-warning">Error, please retry. Your message has not been sent</div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-3">
                        <hr class="space m visible-xs" />
                        <h2>Contact</h2>
                        <hr class="space s">
                        <p>
                            (+40) 0753 372 370<br>
                            zmeiisilvaniei@gmail.com
                        </p>
                        <hr class="space m">
                        

                    </div>
                    <div class="col-md-3">
                        <h2>Sediu</h2>
                        <hr class="space s">
                        <p>
                            Bd.1848, Nr.5, Bl.5, Ap.22<br>
                            Hunedoara - 331068, Romania
                        </p>
                        <hr class="space l">
                    </div>

                </div>
            </div>
        </div>
    </div>
    <i class="scroll-top scroll-top-mobile show fa fa-sort-asc"></i>
    <footer class="footer-center footer-minimal">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="tag-row icon-row icon-row-square">
                            <span><a>Despre noi</a></span>
                            <span><a>Servicii</a></span>
                            <span><a>Suport</a></span>
                            <span><a>Contact</a></span>
                        </div>
                    </div>
                </div>
                <div class="row copy-row">
                    <div class="col-md-12 copy-text">
                        © 2019 Zmeii Silvaniei - Plantam fapte pe Bune
                    </div>
                </div>
            </div>
        </div>
        <script src="../HTWF/scripts/jquery.min.js"></script>
        <script src="../HTWF/scripts/script.js"></script>
        <link rel="stylesheet" href="../HTWF/scripts/iconsmind/line-icons.min.css">
        <script src="../HTWF/scripts/bootstrap/js/bootstrap.min.js"></script>
        <script src="../HTWF/scripts/imagesloaded.min.js"></script>
        <script src="../HTWF/scripts/parallax.min.js"></script>
        <script src="../HTWF/scripts/flexslider/jquery.flexslider-min.js"></script>
        <script src="../HTWF/scripts/isotope.min.js"></script>
        <script src="../HTWF/scripts/php/contact-form.js"></script>
        <script src="../HTWF/scripts/jquery.progress-counter.js"></script>
        <script src="../HTWF/scripts/jquery.tab-accordion.js"></script>
        <script src="../HTWF/scripts/bootstrap/js/bootstrap.popover.min.js"></script>
        <script src="../HTWF/scripts/jquery.magnific-popup.min.js"></script>
        <script src="../HTWF/scripts/social.stream.min.js"></script>
        <script src="../HTWF/scripts/google.maps.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script src="../HTWF/scripts/jquery.slimscroll.min.js"></script>
        <script src="../HTWF/scripts/smooth.scroll.min.js"></script>
        <script src='../HTWF/scripts/jquery.progress-counter.js'></script>
    </footer>
</body>
</html>
