<!DOCTYPE html>
<!--[if lt IE 10]> <html  lang="en" class="iex"> <![endif]-->
<!--[if (gt IE 10)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ONG | Zmeii Silvaniei | Proiecte</title>
    <meta name="description" content="Multipurpose HTML template.">
    <link rel="stylesheet" href="../HTWF/scripts/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../HTWF/style.css">
    <link rel="stylesheet" href="../HTWF/css/content-box.css">
    <link rel="stylesheet" href="../HTWF/css/image-box.css">
    <link rel="stylesheet" href="../HTWF/css/animations.css">
    <link rel="stylesheet" href="../HTWF/css/components.css">
    <link rel="stylesheet" href="../HTWF/scripts/flexslider/flexslider.css">
    <link rel="stylesheet" href="../HTWF/scripts/magnific-popup.css">
    <link rel="stylesheet" href="../HTWF/scripts/php/contact-form.css">
    <link rel="stylesheet" href="../HTWF/scripts/social.stream.css">
    <link rel="icon" href="../images/favicon.png">
    <link rel="stylesheet" href="../skin.css">
</head>
<body class="background-lines-2" data-spy="scroll" data-target="#menu" data-offset="250">
    <div id="preloader"></div>    
        <div id="home" class="section-empty bg-transparent">
            <div class="container content">
                

                


<div class="header-base bg-cover black" style="background-color: #F8F8F8">
    <img alt="dragon_argintiu" src="../images/dealul_soarelui.jpg" class="dragon_dealul_soarelui" />
<!--<div class="header-base bg-cover black" style="background-image: url('http://www.framework-y.com/images/thumb-wide.png')">-->
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="title-base text-left">
                    <h1>#1 Dealul Soarelui.</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing.</p>
                </div>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb b white">
                    <li><a href="./index-rectangle%20-%20ZM_TEST_Home.html">Acasă</a></li>
                    <li><a href="#">Proiecte</a></li>
                    <li class="active">Dealul Soarelui</li>
                </ol>
            </div>
        </div>
    </div>
        </div> 
        
        <div id="about" class="section-empty background-lines-1">
            <div class="container content">
                <div class="row" data-anima="fade-bottom">
                    <div class="col-md-4">
                        <h2>Deeper look into our company</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                            Utenim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                            in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                            Utenim ad minim veniam quis nostrud exercitatio.
                            Lorem ipsum dolor sit amet,sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erato.
                            At vero eos et accusam et justo duo dolores et ea rebum.  Lorem ipsum dolor sit amet,  no sea takimata sanctus est Lorem ipsum dolor sit amet.
                            Stet clita kasd gubergren,  no sea takimata sanctus est Lorem ipsum dolore sit ameto, no sea takimata sanctus esto.
                        </p>

                    </div>
                    <div class="col-md-4">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                            Utenim ad minim veniam quis nostrud exercitatio.
                            justo duo dolores et ea rebum.  Lorem ipsum dolor sit amet,  no sea takimata sanctus est Lorem ipsum dolor sit amet.
                            Stet clita kasd gubergren,  no sea takimata sanctus est Lorem ipsum dolore sit ameto, no sea takimata sanctus esto.
                        </p>
                        <a href="#" class="btn btn-sm">Donează</a>
                    </div>
                </div>
            </div>
        </div>
</div>
</div>
    
    <footer class="footer-center footer-minimal">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="tag-row icon-row icon-row-square">
                            <span><a>Despre noi</a></span>
                            <span><a>Servicii</a></span>
                            <span><a>Suport</a></span>
                            <span><a>Contact</a></span>
                        </div>
                    </div>
                </div>
                <div class="row copy-row">
                    <div class="col-md-12 copy-text">
                        © 2019 Zmeii Silvaniei - Plantam fapte pe Bune
                    </div>
                </div>
            </div>
        </div>
        <script src="../HTWF/scripts/jquery.min.js"></script>
        <script src="../HTWF/scripts/script.js"></script>
        <link rel="stylesheet" href="../HTWF/scripts/iconsmind/line-icons.min.css">
        <script src="../HTWF/scripts/bootstrap/js/bootstrap.min.js"></script>
        <script src="../HTWF/scripts/imagesloaded.min.js"></script>
        <script src="../HTWF/scripts/parallax.min.js"></script>
        <script src="../HTWF/scripts/flexslider/jquery.flexslider-min.js"></script>
        <script src="../HTWF/scripts/isotope.min.js"></script>
        <script src="../HTWF/scripts/php/contact-form.js"></script>
        <script src="../HTWF/scripts/jquery.progress-counter.js"></script>
        <script src="../HTWF/scripts/jquery.tab-accordion.js"></script>
        <script src="../HTWF/scripts/bootstrap/js/bootstrap.popover.min.js"></script>
        <script src="../HTWF/scripts/jquery.magnific-popup.min.js"></script>
        <script src="../HTWF/scripts/social.stream.min.js"></script>
        <script src="../HTWF/scripts/google.maps.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script src="../HTWF/scripts/jquery.slimscroll.min.js"></script>
        <script src="../HTWF/scripts/smooth.scroll.min.js"></script>
    </footer>
</body>
</html>
