<!DOCTYPE html>
<!--[if lt IE 10]> <html  lang="en" class="iex"> <![endif]-->
<!--[if (gt IE 10)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ONG | Zmeii Silvaniei | Proiecte</title>
    <meta name="description" content="Multipurpose HTML template.">
    <link rel="stylesheet" href="../HTWF/scripts/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../HTWF/style.css">
    <link rel="stylesheet" href="../HTWF/css/content-box.css">
    <link rel="stylesheet" href="../HTWF/css/image-box.css">
    <link rel="stylesheet" href="../HTWF/css/animations.css">
    <link rel="stylesheet" href="../HTWF/css/components.css">
    <link rel="stylesheet" href="../HTWF/scripts/flexslider/flexslider.css">
    <link rel="stylesheet" href="../HTWF/scripts/magnific-popup.css">
    <link rel="stylesheet" href="../HTWF/scripts/php/contact-form.css">
    <link rel="stylesheet" href="../HTWF/scripts/social.stream.css">
    <link rel="icon" href="../images/favicon.png">
    <link rel="stylesheet" href="../skin.css">
</head>

<body class="background-lines-2" data-spy="scroll" data-target="#menu" data-offset="250">
    <div id="preloader"></div>
    <div id="home" class="section-empty bg-transparent">
        <div class="container content">
            <div class="header-base bg-cover white" style="background-image: url(../images/dealul_soarelui.jpg)">
                <!--    <img alt="dragon_argintiu" src="../images/dealul_soarelui.jpg" class="dragon_dealul_soarelui" />-->
                <!--<div class="header-base bg-cover black" style="background-image: url('http://www.framework-y.com/images/thumb-wide.png')">-->
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="title-base text-left">
                                <h1>#1 Dealul Soarelui.</h1>
                                <p>Un loc plin de soare.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <ol class="breadcrumb b white">
                                <li><a href="./index-rectangle%20-%20ZM_TEST_Home.html">Acasă</a></li>
                                <li><a href="#">Proiecte</a></li>
                                <li class="active">Dealul Soarelui</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div id="about" class="section-empty background-lines-1">
                <div class="container content">
                    <div class="row" data-anima="" data-trigger="load">
                        <div class="col-md-12">
                            <h2>| Localizare | </h2>
                            <p>
                                La intrarea in Seini, pe Dealul Soarelui, se afla o cruce care de un deceniu vecheaza orasul maramuresean. Povestea crucii a fost publicata si in monografia localitatii, ”Cartea cetatii Zynir”, scrisa de parintele Gheorghe Pop. Preotul a spus ca monumentul se vede pana dincolo de Somes, in satele situate pe celalalt mal al raului. Crucea, inalta de 20 de metri, care este luminoasa noaptea, fiind vopsita cu vopsea reflectorizanta, a fost realizata in 1998 la initiativa unor credinciosi care au lucrat in cariera de piatra din Seini si este confectionata pe un suport metalic invelit cu tabla reflectorizanta. Si pentru ca in fiecare an localnicii merg intr-un soi de pelerinaj la Crucea de pe Dealul Soarelui, acestia au ridicat si un altar de lemn acoperit pentru slujbele oficiate de preoti.<br><br>
                                Chiar daca accesul pana la impunatoarea constructie nu este unul tocmai usor, zeci de turisti parcurg pe jos cativa kilometrii, pentru a admira crucea si a inalta rugaciuni catre Dumnezeu. Localnicii din Seini sunt mandrii ca au si ei propria Cruce, similara celei de pe Muntele Caraiman din judetul Brasov, si sustin ca ”Golgota Seiniului” cum o numesc ei, vegheaza linistea si pacea sufletelor tuturor credinciosilor din zona, ferind de rele intreaga comunitate.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="services" class="section-empty">
            <div class="container content">
                <div class="title-base">
                    <hr />
                    <h2>Etape</h2>
                    <p>În ceea ce urmează îți prezentăm o scurtă derulare a campanie propuse.</p>
                </div>
                <div class="grid-list" data-anima="" data-trigger="load">
                    <div class="grid-box row">
                        <ul class="timeline">
                            <li>
                                <!--        <div class="timeline-badge"></div>-->
                                <div class="timeline-label">
                                    <!-- LEFT ICON SUBTITLE BOX -->
                                    <div class="icon-box">
                                        <div class="icon-box-cell">
                                            <i class="im-unlock text-xl"></i>
                                        </div>
                                        <div class="icon-box-cell">
                                            <label class="text-m">Complet</label>
                                            <p class="text-s">26.03.2019</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Localizarea arealului</h4>
                                        <p><small class="text-muted"><i class="fa fa-clock"></i> ______ </small></p>
                                    </div>
                                    <div class="timeline-body">
                                        <p>
                                            Primul pas constă în găsirea unor localități viabile pentru viitoarele campanii de reîmpădurire.
                                            Distanța de deplasare, între Cluj-Napoca și destinație nu trebuie sa fie mai mare de 100 de minute.
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <!--        <div class="timeline-badge"></div>-->
                                <div class="timeline-label">
                                    <!-- LEFT ICON SUBTITLE BOX -->
                                    <div class="icon-box">
                                        <div class="icon-box-cell">
                                            <i class="im-lock text-xl"></i>
                                        </div>
                                        <div class="icon-box-cell">
                                            <label class="text-m">În progres</label>
                                            <p class="text-s">30.03.2019</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Contactarea primăriilor</h4>
                                        <p><small class="text-muted"><i class="fa fa-clock"></i> ______ </small></p>
                                    </div>
                                    <div class="timeline-body">
                                        <p>
                                            După localizarea lor, urmează contactarea individuală a primăriilor.
                                            Aceasta se va face prin trimiterea unui email formal, adresat primarului sau oricărei alte persoane oficiale din acea localitate.

                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <!--        <div class="timeline-badge"></div>-->
                                <div class="timeline-label">
                                    <!-- LEFT ICON SUBTITLE BOX -->
                                    <div class="icon-box">
                                        <div class="icon-box-cell">
                                            <i class="im-lock text-xl"></i>
                                        </div>
                                        <div class="icon-box-cell">
                                            <label class="text-m">În progres</label>
                                            <p class="text-s">TBD</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Analiza arealului</h4>
                                        <p><small class="text-muted"><i class="fa fa-clock"></i> ______ </small></p>
                                    </div>
                                    <div class="timeline-body">
                                        <p>
                                            Odată stabilită întalnirea, anterior ei, se realizează o analiză spațială a arealului pentru identificarea celor mai bune zone care vor fi propuse autorităților.
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <!--        <div class="timeline-badge"></div>-->
                                <div class="timeline-label">
                                    <!-- LEFT ICON SUBTITLE BOX -->
                                    <div class="icon-box">
                                        <div class="icon-box-cell">
                                            <i class="im-lock text-xl"></i>
                                        </div>
                                        <div class="icon-box-cell">
                                            <label class="text-m">În progres</label>
                                            <p class="text-s">TBD</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Alegerea zonei pentru campanie</h4>
                                        <p><small class="text-muted"><i class="fa fa-clock"></i> ______ </small></p>
                                    </div>
                                    <div class="timeline-body">
                                        <p>
                                            Negocierea arealului dintre primărie și asociație se face pe baza analizei anterioare, realizând pe loc o estimare brută a resurselor necesare pentru realizarea campanie.
                                            - Sigiliul parteneriatului constă în semnarea unui contract de prestare servicii.
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <!--        <div class="timeline-badge"></div>-->
                                <div class="timeline-label">
                                    <!-- LEFT ICON SUBTITLE BOX -->
                                    <div class="icon-box">
                                        <div class="icon-box-cell">
                                            <i class="im-lock text-xl"></i>
                                        </div>
                                        <div class="icon-box-cell">
                                            <label class="text-m">În progres</label>
                                            <p class="text-s">TBD</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Analiza arealului</h4>
                                        <p><small class="text-muted"><i class="fa fa-clock"></i> ______ </small></p>
                                    </div>
                                    <div class="timeline-body">
                                        <p>
                                            Odată stabilită întalnirea, anterior ei, se realizează o analiză spațială a arealului pentru identificarea celor mai bune zone care vor fi propuse autorităților.
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <!--        <div class="timeline-badge"></div>-->
                                <div class="timeline-label">
                                    <!-- LEFT ICON SUBTITLE BOX -->
                                    <div class="icon-box">
                                        <div class="icon-box-cell">
                                            <i class="im-lock text-xl"></i>
                                        </div>
                                        <div class="icon-box-cell">
                                            <label class="text-m">În progres</label>
                                            <p class="text-s">TBD</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Resurse umane și financiare</h4>
                                        <p><small class="text-muted"><i class="fa fa-clock"></i> ______ </small></p>
                                    </div>
                                    <div class="timeline-body">
                                        <p>
                                            Odată semnat contractul, campania e adăugată online, urmând începerea strângerii de fonduri și înregistrarea voluntarilor.
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="title-base">
                            <hr />
                            <!--                    <h2>Etape</h2>-->
                            <p>Alege să fii parte din această campanie.</p>
                            <a href="#" class="btn btn-sm btn-doneaza">Donează</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="section-empty background-lines-2">
        <div class="container content">
            <div class="row">
                <div class="col-md-4">
                    <div class="title-base text-left">
                        <hr>
                        <h2>Doresc să particip</h2>
                    </div>
                </div>
                <div class="col-md-8 ">
                    <form action="http://www.framework-y.com/scripts/php/contact-form.php" class="form-box form-ajax form-inline width-80" method="post" data-email="aaa@pixor.it">
                        <input id="email" name="email" placeholder="" type="email" class="form-control form-value" required="">
                        <hr class="space m">
                        <button class="btn btn-sm" type="submit">Trimite</button>
                        <div class="success-box">
                            <div class="alert alert-success">Felicitari. Te-ai inregistrat cu success.</div>
                        </div>
                        <div class="error-box">
                            <div class="alert alert-warning">Oops, mesajul nu a fost trimis cu succes. Reîncearcă.
                            </div>
                        </div>
                    </form>
                    <hr class="space s">
                    <p class="text-xs">Lasă-ne adresa ta de email și noi te vom contacta în cel mai scurt timp cu detalii despre urmatoarea campanie de (re)împădurire.</b></p>
                </div>
            </div>
        </div>
    </div>

    <!--                    <hr class="space" />-->
    <footer class="footer-center footer-minimal">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="tag-row icon-row icon-row-square">
                            <span><a>Despre noi</a></span>
                            <span><a>Servicii</a></span>
                            <span><a>Suport</a></span>
                            <span><a>Contact</a></span>
                        </div>
                    </div>
                </div>
                <div class="row copy-row">
                    <div class="col-md-12 copy-text">
                        © 2019 Zmeii Silvaniei - Plantam fapte pe Bune
                    </div>
                </div>
            </div>
        </div>
        <script src="../HTWF/scripts/jquery.min.js"></script>
        <script src="../HTWF/scripts/script.js"></script>
        <link rel="stylesheet" href="../HTWF/scripts/iconsmind/line-icons.min.css">
        <script src="../HTWF/scripts/bootstrap/js/bootstrap.min.js"></script>
        <script src="../HTWF/scripts/imagesloaded.min.js"></script>
        <script src="../HTWF/scripts/parallax.min.js"></script>
        <script src="../HTWF/scripts/flexslider/jquery.flexslider-min.js"></script>
        <script src="../HTWF/scripts/isotope.min.js"></script>
        <script src="../HTWF/scripts/php/contact-form.js"></script>
        <script src="../HTWF/scripts/jquery.progress-counter.js"></script>
        <script src="../HTWF/scripts/jquery.tab-accordion.js"></script>
        <script src="../HTWF/scripts/bootstrap/js/bootstrap.popover.min.js"></script>
        <script src="../HTWF/scripts/jquery.magnific-popup.min.js"></script>
        <script src="../HTWF/scripts/social.stream.min.js"></script>
        <script src="../HTWF/scripts/google.maps.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script src="../HTWF/scripts/jquery.slimscroll.min.js"></script>
        <script src="../HTWF/scripts/smooth.scroll.min.js"></script>
    </footer>
</body>

</html>
