<!DOCTYPE html>
<!--[if lt IE 10]> <html  lang="en" class="iex"> <![endif]-->
<!--[if (gt IE 10)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ONG | Zmeii Silvaniei | Servicii</title>
    <meta name="description" content="Multipurpose HTML template.">
    <link rel="stylesheet" href="../HTWF/scripts/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../HTWF/style.css">
    <link rel="stylesheet" href="../HTWF/css/content-box.css">
    <link rel="stylesheet" href="../HTWF/css/image-box.css">
    <link rel="stylesheet" href="../HTWF/css/animations.css">
    <link rel="stylesheet" href="../HTWF/css/components.css">
    <link rel="stylesheet" href="../HTWF/scripts/flexslider/flexslider.css">
    <link rel="stylesheet" href="../HTWF/scripts/magnific-popup.css">
    <link rel="stylesheet" href="../HTWF/scripts/php/contact-form.css">
    <link rel="stylesheet" href="../HTWF/scripts/social.stream.css">
    <link rel="icon" href="../images/favicon.png">
    <link rel="stylesheet" href="../skin.css">
</head>

<body class="background-lines-2" data-spy="scroll" data-target="#menu" data-offset="250">
    <div id="preloader"></div>
    <div id="home" class="section-empty bg-transparent">
        <div class="container content">
            <div class="row">
                <div class=".col-12 .col-md-8 col-sm-12 pull-right" data-anima="" data-trigger="load">
                    <div class="navbar navbar-inner ">
                        <div class="navbar-toggle"><i class="fa fa-bars"></i><span>Menu</span><i class="fa fa-angle-down"></i></div>
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav inner">
                                <!--                                <img alt="dragon_argintiu" src="../images/logos/dragon_argintiu_2.jpg" class="dragon" />-->
                                <li class="current-active active"><a href="#home">Acasă</a></li>
                                <li><a href="./proiecte.html">Proiecte</a></li>
                                <li><a href="#services">Servicii</a></li>
                                <li><a href="./despre_noi.html">Despre noi</a></li>
                                <li><a href="#contacts">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!--            </div>-->

                <!--            <hr class="space" />-->

                <!--            <div class="section-empty">-->
                <div class="container content box-middle-container full-screen-size" data-sub-height="80">
                    <div class="row box-middle">
                        <div class="col-md-4 col-sm-12">
                            <h2 class="text-xl">Urmează. Stai pe fază.</h2>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="countdown" data-time="06/21/2019 00:00:00" data-utc-offset="-5">
                                <div>
                                    <span class="days countdown-values text-xl">00</span><br /><span class="countdown-label text-m">Zile</span>
                                </div>
                                <div>
                                    <span class="hours countdown-values text-xl">00</span><br /><span class="countdown-label text-m">Ore</span>
                                </div>
                                <div>
                                    <span class="minutes countdown-values text-xl">00</span><br /><span class="countdown-label text-m">Minute</span>
                                </div>
                                <div>
                                    <span class="seconds countdown-values text-xl">00</span><br /><span class="countdown-label text-m">Secunde</span>
                                </div>
                            </div>
                            <hr class="space m" />
                            <a href="./index.html" class="btn btn-xs">Acasă</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <i class="scroll-top scroll-top-mobile show fa fa-sort-asc"></i>
        <footer class="footer-center footer-minimal">
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="tag-row icon-row icon-row-square">
                                <span><a href="./despre_noi.html">Despre noi</a></span>
                                <!--                            <span><a>Servicii</a></span>-->
                                <span><a href="./suport.html">Suport</a></span>
                                <span><a href="#contacts">Contact</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="row copy-row">
                        <div class="col-md-12 copy-text">
                            © 2019 Zmeii Silvaniei - Plantam fapte pe Bune
                        </div>
                    </div>
                </div>
            </div>
            <script src="../HTWF/scripts/jquery.min.js"></script>
            <script src="../HTWF/scripts/script.js"></script>
            <link rel="stylesheet" href="../HTWF/scripts/iconsmind/line-icons.min.css">
            <script src="../HTWF/scripts/bootstrap/js/bootstrap.min.js"></script>
            <script src="../HTWF/scripts/imagesloaded.min.js"></script>
            <script src="../HTWF/scripts/parallax.min.js"></script>
            <script src="../HTWF/scripts/flexslider/jquery.flexslider-min.js"></script>
            <script src="../HTWF/scripts/isotope.min.js"></script>
            <script src="../HTWF/scripts/php/contact-form.js"></script>
            <script src="../HTWF/scripts/jquery.progress-counter.js"></script>
            <script src="../HTWF/scripts/jquery.tab-accordion.js"></script>
            <script src="../HTWF/scripts/bootstrap/js/bootstrap.popover.min.js"></script>
            <script src="../HTWF/scripts/jquery.magnific-popup.min.js"></script>
            <script src="../HTWF/scripts/social.stream.min.js"></script>
            <script src="../HTWF/scripts/google.maps.min.js"></script>
            <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
            <script src="../HTWF/scripts/jquery.slimscroll.min.js"></script>
            <script src="../HTWF/scripts/smooth.scroll.min.js"></script>
            <script src='../HTWF/scripts/jquery.progress-counter.js'></script>
        </footer>
</body>

</html>
